<!DOCTYPE html>
<html>
    <head>
        <title>Créateur QR facture</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body { font-family: sans-serif; }
            #main-wrapper { max-width: 600px; margin: 0 auto; }
            div.error { color: red; margin: 0.7em; }
            div.subtitle { margin-top: 1em; font-weight: bold; }
            div.form-container { margin-left: 1em; }
            div.buttons { margin-top: 1em; }
            th { text-align: left; font-weight: normal;}
            #creditor_housenum, #debtor_housenum { width: 3em; }
            #creditor_npa, #debtor_npa { width: 4em; }
            #amount { text-align: right; }
            #reference { width: calc(100% - 1em); }
            #img_format { list-style: none; padding: 0; display: inline-block; }
            #img_format li { display: inline-block; margin: 0 0.5em; }
            #submit { width: 100%; padding: 0.7em; font-size: large; cursor: pointer; }
        </style>
    </head>
    <body>
      <div id="main-wrapper"> 
        <h1>Créateur de facture QR</h1>
        <div class="error">{{ error }}</div>
        <form method="post">
            <div class="subtitle">Compte/payable à</div>
            <div class="form-container">
                <table>
                    <tr><th>Compte/IBAN</th><td>{{ form.account }}</td></tr>
                    <tr><th>Nom</th><td>{{ form.creditor_name }}</td></tr>
                    <tr><th>Rue/N°</th><td>{{ form.creditor_street }} {{ form.creditor_housenum }}</td></tr>
                    <tr><th>NPA/Localité</th><td>{{ form.creditor_npa }} {{ form.creditor_city }}</td></tr>
                </table>
            </div>

            <div class="subtitle">Payable par (nom/adresse)</div>
            <div class="form-container">
                <table>
                    <tr><th>Nom</th><td>{{ form.debtor_name }}</td></tr>
                    <tr><th>Rue/N°</th><td>{{ form.debtor_street }} {{ form.debtor_housenum }}</td></tr>
                    <tr><th>NPA/Localité</th><td>{{ form.debtor_npa }} {{ form.debtor_city }}</td></tr>
                </table>
            </div>

            <div class="subtitle">Référence</div>
            <div class="form-container">
                {{ form.reference }}
            </div>

            <div class="subtitle">Monnaie/Montant</div>
            <div class="form-container">
                {{ form.currency }} {{ form.amount }}
            </div>

            <div>Format d’image : {{ form.img_format }}</div>

            <div class="buttons">
                <button id="submit" type="submit">Générer la facture</button>
            </div>
        </form>
      </div>
    </body>
</html>
